@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  color: #0e0e38;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #d8dae2;
}

img {
  max-width: 100%;
  height: auto;

}

.wrapper {
  background-color: #eff0f1;
  box-shadow: 0 76px 27px 0 rgba(6, 27, 82, 0.25);
  width: 100%; /* Adjusted width for responsiveness */

  max-width: 1500px;
  margin: 2rem auto;

  display: flex;
  flex-direction: column;

  padding: 3rem;

  border-radius: 18px;
}

.top-section .tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  margin: 2rem 0 4rem 0;
}

.top-section h1 {
  font-size: 3.2rem;
}

.top-section .tags p {
  font-size: 1.6rem;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 8px;
}

.bottom-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sections {
  width: calc(33.33% - 2rem); /* Adjusted width for responsiveness */
  margin-bottom: 2rem; /* Added margin for spacing between sections */
}

.bottom-section .sections {
  height: auto;

  background-color: white;
  padding: 2rem;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.bottom-section .sections .secondary-imgs {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.bottom-section .sections .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.bottom-section .sections .text h3 {
  font-size: 2.4rem;
}

.bottom-section .sections .text p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
}

@media screen and (max-width: 1430px) {
    .bottom-section .sections .secondary-imgs {
        justify-content: flex-start;
      }
}

@media screen and (max-width: 1025px) {
  .wrapper {
    padding: 2rem;
  }

  .sections {
    width: calc(50% - 2rem);
  }

  .bottom-section .sections .secondary-imgs {
    gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .sections {
    width: 100%;
  }

  .secondary-imgs img{
    gap: 0rem;
  }
}
